{% if project.meta('vertical_image') %}
	{% set imgURL = project.meta('vertical_image').url %}
{% else %}
	{% set imgURL = Image(project.thumbnail).src %}
{% endif %}

<a class="col-span-1 block 1024:mb-16 portfolio_thumbnail" href="{{project.link}}" data-cat="{{project.project_category}}">
	<img src="{{ imgURL }}">
	<div class="post_meta p-15 text-center">
		<h5>{{project.title}}</h4>
	</div>
</a>
