<!DOCTYPE html>
<html {{fn('language_attributes')}}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% include 'seo/seo.twig' %}

		{{ wp_head }}
	</head>

	<body>


		{% include 'includes/header.twig' %}

		{% block content %}{% endblock %}

		{% include 'includes/footer.twig' %}

		{{ wp_footer }}

	</body>
</html>
