{% extends "general.twig" %}

{% block content %}
	{# 	
		<div id="hero" class="mb-20 1024:mb-48">
	
			<div class="image-container aspect-[4/6] 1024:aspect-[16/7]">
				<img src="{{Image(post.image).src}}" alt="{{item.project.title}}">
			</div>
	
		</div> #}

	<div class="container">

		<div class="filter_wraper mb-28 text-center 1024:flex justify-center gap-14 w-full">
			{% for term in category %}
				<span class="filter-btn" data-cat="{{term.ID}}">
					<h4 class="hover:font-bold mb-8 1024:mb-0">{{term.name}}</h4>

				</span>
			{% endfor %}
		</div>

		<div class="columns-1 1024:columns-3 1024:gap-16 text-container" id="post-list">
			{% for project in portfolio %}
				{% include 'loop/masonry.twig' %}
			{% endfor %}
		</div>
	</div>

	<div class="mb-52"></div>


{% endblock %}
