{% extends "general.twig" %}

{% block content %}

	<div class="container my-28">

		<div class="grid grid-cols-1 1024:grid-cols-3 gap-8 1024:gap-x-16 1024:gap-y-24 text-container" id="product-list">
			{% for product in products %}
				{% include 'loop/product.twig' %}
			{% endfor %}
		</div>

	</div>

{% endblock %}
