@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/WixMadeforDisplay-ExtraBold.woff2") format("woff2"),
    url("../fonts/WixMadeforDisplay-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/WixMadeforDisplay-SemiBold.woff2") format("woff2"),
    url("../fonts/WixMadeforDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/WixMadeforDisplay-Regular.woff2") format("woff2"),
    url("../fonts/WixMadeforDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/WixMadeforDisplay-Medium.woff2") format("woff2"),
    url("../fonts/WixMadeforDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../fonts/WixMadeforDisplay-Bold.woff2") format("woff2"),
    url("../fonts/WixMadeforDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodoni 72";
  src: url("../fonts/BodoniSvtyTwoITCTT-Book.woff2") format("woff2"),
    url("../fonts/BodoniSvtyTwoITCTT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bodoni 72";
  src: url("../fonts/BodoniSvtyTwoITCTT-BookIta.woff2") format("woff2"),
    url("../fonts/BodoniSvtyTwoITCTT-BookIta.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bodoni 72";
  src: url("../fonts/BodoniSvtyTwoITCTT-Bold.woff2") format("woff2"),
    url("../fonts/BodoniSvtyTwoITCTT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
